
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
<form method="post">
    <input type="text" class="form-control mt-2 mb-2" placeholder="Duyuru Başlık" name="DuyuruBaslik" />
    <textarea class="form-control" cols="10" rows="7" placeholder="Duyuru İçeriği" name="DuyuruIcerik"></textarea>
    <div class="d-flex justify-content-around">

        <button class="btn btn-success mt-3" id="btnDuyuru">Duyuruyu Oluştur</button>
    </div>
</form>

<div class="d-flex justify-content-center">

    <a href="/Duyuru/Duzenle/" class="btn btn-secondary text-white mt-3" id="btnDuyuru">Duyuruları Düzenle</a>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script>

                    //$("btnDuyuru").click(function () {

                    //    Swal.fire({
                    //        icon: 'success',
                    //        title: 'Duyuru Başarılı Bir Şekilde Oluşturuldu',
                    //        confirmButtonText: "Tamam",
                    //    })

                    //});
</script>